.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  align-items: center;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: "5px";
  margin-left: 50px;
}
.header_item {
  width: 90px;
}

.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  width: 600px;
}
